@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 4px;
  border: 3px none #ffffff;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  font-family: "Inria Sans", sans-serif;
}

@layer components {
  .btn {
    @apply max-w-max
      min-h-[40px] 
      max-h-[40px] 
      rounded-[20px]
      px-[24px] 
      items-center
      py-0 
      no-animation 
      normal-case
      active:duration-[0ms] 
      hover:-translate-y-[2px];
  }
  .btn-block {
    @apply w-full max-w-none;
  }
  .btn-icon {
    @apply pl-[16px] gap-[8px];
  }
  .fab {
    @apply min-w-[56px] w-[56px] min-h-[56px] h-[56px] rounded-[16px] items-center justify-center text-[24px] p-0;
  }
  .fab-sm {
    @apply min-w-[40px] w-[40px] min-h-[40px] h-[40px] rounded-[12px];
  }
  .fab-lg {
    @apply min-w-[96px] w-[96px] min-h-[96px] h-[96px] rounded-[28px] text-[36px];
  }
}
