@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #334ec7;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334ec7;
}
::-webkit-scrollbar-thumb:active {
  background: #334ec7;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

@layer components {
  .btn {
    @apply 
      normal-case
      no-animation 
      active:duration-[0ms] 
      hover:-translate-y-[2px];
  }
}

/* @layer components {
  .btn {
    @apply 
      max-w-max
      min-h-[40px] 
      max-h-[40px] 
      rounded-[20px]
      px-[20px] 
      items-center
      py-0 
      no-animation 
      normal-case
      active:duration-[0ms] 
      hover:-translate-y-[2px];
  }
  .btn-block {
    @apply w-full max-w-none;
  }
  .btn-icon {
    @apply pl-[16px] gap-[8px];
  }
  .fab {
    @apply min-w-[56px] w-[56px] min-h-[56px] h-[56px] rounded-[16px] items-center justify-center text-[24px] p-0;
  }
  .fab-sm {
    @apply min-w-[40px] w-[40px] min-h-[40px] h-[40px] rounded-[12px];
  }
  .fab-lg {
    @apply min-w-[96px] w-[96px] min-h-[96px] h-[96px] rounded-[28px] text-[36px];
  }
} */
